header, body, footer{
    padding-left: 240px;
}

@media only screen and (max-width : 992px){
    header, body, footer{
        padding-left: 0;
    }
}

.center_container{
    margin: 0 auto;
    width:85%;
}

.vertical_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_padding{
    padding: 50px;
}

.apply_roboto{
    font-family: "Roboto",sans serif;
    font-weight: 300;
}

.clickable_text{
    cursor: pointer
}

/*Leaves Page*/
.leave_summary_card{
    height: 675px
}

#canvas .circle{
    display: inline-block;
    margin: 1em;
}

/*Time Record Page*/
.time_in_out_card{
    height: 150px;
}

/*Salary Report Page*/


.ct-chart .ct-line.ct-threshold-above, .ct-bar.ct-threshold-above {
  stroke: #66bb6a;
}
.ct-chart .ct-point.ct-threshold-above{
  stroke: #66bb6a;
}

.ct-chart .ct-line.ct-threshold-below, .ct-point.ct-threshold-below, .ct-bar.ct-threshold-below {
  stroke: #ef5350;
}

.ct-chart .ct-point.ct-threshold-below{
  stroke: #ef5350;
}

.ct-chart .ct-area.ct-threshold-above {
  fill: #66bb6a;
}

.ct-chart .ct-area.ct-threshold-below {
  fill: #ef5350;
}

.salary_padding{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Manager Page*/