header, body, footer{
    padding-left: 240px;
}

@media only screen and (max-width : 992px){
    header, body, footer{
        padding-left: 0;
    }
}

.center_container{
    margin: 0 auto;
    width:85%;
}

.vertical_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_padding{
    padding: 50px;
}

.apply_roboto{
    font-family: "Roboto",sans serif;
    font-weight: 300;
}

.clickable_text{
    cursor: pointer
}

/*Leaves Page*/
.leave_summary_card{
    height: 675px
}

#canvas .circle{
    display: inline-block;
    margin: 1em;
}

/*Time Record Page*/
.time_in_out_card{
    height: 150px;
}

/*Manager Page*/
.team_status_card{
    height: 650px;
}